body {
    background: #FDF3E7;
    font-family: Roboto Mono;
}
img {
    vertical-align: middle;
    border-radius: 50%;
    width: 70%;
    border: .5em;
    border-style: double;
    border-color: #3B3738;
}

.row {
    margin-bottom: 1em;
}

h1, h2, h3 {
    font-family: Roboto Mono;
    text-transform: uppercase;
}

h4 {
    font-family: Roboto Mono;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

.date {
    font-size: 1em;
    line-height: 3em;
    font-family: Roboto Mono;
}

.job-title {    font-size: 1em;
    line-height: 3em;
    font-family: Roboto Mono;
}

.datemargin {
    border-left: medium solid rgb(198, 61, 15);
    margin-left: 1em;
}

.score {
    text-align: right;
}

.fa {
    color: #7E8F7C;
}

.fa-star, .fa-star-half-o {
    color: rgb(198, 61, 15);
}

.interests {
    font-size: 3em;
    margin-left: .3em;
}